div.innerApp {
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

div.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);

  @apply hover:cursor-pointer;
}

div.active {
  background-color: black;
}

.btn-active {
  @apply text-cyan-700;
}

div.todo {
  grid-row: span 7 / span 7;
}
